---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
	<article
		class="prose lg:prose-xl text-center prose-neutral dark:prose-invert"
	>
		<h1>Welcome to Catapult Mailer!</h1>
		<p>
			You can use this dashboard to send emails to your subscribers. You can
			also view the list of subscribers and their details.
		</p>
	</article>
</Layout>
