---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<article
		class="prose lg:prose-xl text-center prose-neutral dark:prose-invert"
	>
		<h1>Welcome to Catapult Mailer!</h1>
		<p>
			This site and the Catapult Mailer project are still under development.
			Please check back later for updates. (3-5 business days)
		</p>
	</article>
</Layout>
