---
import Layout from "../layouts/Layout.astro";
import { createSession, gracePeriod, getSession } from "../utils/auth/auth";
import type { Session } from "../utils/auth/auth";

let session: Session | null = null;
const sessionCookie = Astro.cookies.get("session")?.value;
if (sessionCookie !== undefined) {
	session = getSession(sessionCookie);
}

let errorMsg: string | null = Astro.url.searchParams.get("error");

if (
	Astro.request.method === "GET" &&
	Astro.url.searchParams.get("code") !== null &&
	!session
) {
	try {
		const code = Astro.url.searchParams.get("code");
		if (!code) {
			throw new Error("No code provided");
		}

		const jwtToken = await createSession(code, Astro.url.origin);

		if (!jwtToken) {
			throw new Error("Failed to create session");
		}

		// reload the page to remove the code from the URL but keep state
		return new Response(null, {
			status: 303,
			headers: {
				location: Astro.url.pathname + "?checkSession=true",
				"Set-Cookie": `session=${jwtToken.token}; Path=/; HttpOnly; Secure; SameSite=Strict; Expires=${new Date(jwtToken.expires + gracePeriod).toUTCString()}`
			},
		});
	} catch (error) {
		if (error instanceof Error) {
			console.error(error);
			errorMsg = error.message;
		}
	}
}
---

<Layout title="Welcome to Astro.">
	<article
		class="prose lg:prose-xl text-center prose-neutral dark:prose-invert"
	>
		<h1>Welcome to Catapult Mailer!</h1>
		{
			errorMsg && (
				<p class="text-red-500">Error: {Astro.url.searchParams.get("error")}</p>
			)
		}
		<p>
			This site and the Catapult Mailer project are still under development.
			Please check back later for updates. (3-5 business days)
		</p>

		<p>
			To get started, sign in with your Slack account to access the Catapult
			Mailer dashboard. We will never post anything to your Slack account or
			share your information with third parties. We only use your Slack account
			to authenticate you and provide access to the Catapult Mailer dashboard.
		</p>
	</article>
	{
		(session || Astro.url.searchParams.get("checkSession")) && (
			<section>
				<a
					class="slack-button bg-lavender dark:bg-blue text-mantle dark:text-crust"
					href="/dashboard"
				>
					Go to Dashboard
				</a>
			</section>
		)
	
	}
	{
		!session && !Astro.url.searchParams.get("checkSession") && (
			<section>
				<a
					id="slack-sign-in"
					class="drop-shadow-xl slack-button bg-lavender dark:bg-blue text-mantle dark:text-crust"
					href=`https://slack.com/openid/connect/authorize?scope=openid%20email%20profile&response_type=code&redirect_uri=${Astro.url.origin}&client_id=2210535565.6593702300176`
					><svg
						xmlns="http://www.w3.org/2000/svg"
						class="drop-shadow-xl"
						style="height:20px;width:20px;margin-right:12px;filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));"
						viewBox="0 0 122.8 122.8"
						><path
							d="M25.8 77.6c0 7.1-5.8 12.9-12.9 12.9S0 84.7 0 77.6s5.8-12.9 12.9-12.9h12.9v12.9zm6.5 0c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9v32.3c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V77.6z"
							fill="#e01e5a"></path><path
							d="M45.2 25.8c-7.1 0-12.9-5.8-12.9-12.9S38.1 0 45.2 0s12.9 5.8 12.9 12.9v12.9H45.2zm0 6.5c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H12.9C5.8 58.1 0 52.3 0 45.2s5.8-12.9 12.9-12.9h32.3z"
							fill="#36c5f0"></path><path
							d="M97 45.2c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9-5.8 12.9-12.9 12.9H97V45.2zm-6.5 0c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V12.9C64.7 5.8 70.5 0 77.6 0s12.9 5.8 12.9 12.9v32.3z"
							fill="#2eb67d"></path><path
							d="M77.6 97c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9V97h12.9zm0-6.5c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H77.6z"
							fill="#ecb22e"></path>
					</svg>Sign in with Slack</a>
			</section>
		)
	}
</Layout>

<style>
	.slack-button {
		border: none;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 8px;
	}

	section {
		padding-top: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
