---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Catapult Mailer: Focus on your message, we'll handle the, users, processing, db, and delivery"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="latte dark:mocha bg-base">
		<main><slot /></main>
		<footer class="bg-crust prose prose-neutral dark:prose-invert max-w-full">
			<p>
				View the source at <a
					href="https://github.com/kcoderhtml/catapult-mailer"
					target="_blank"
					rel="noopener noreferrer"
					class="text-green">kcoderhtml/catapult-mailer</a
				>
			</p>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		flex: 1;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	footer {
		padding: 1rem;
		text-align: center;
	}
</style>
